<div>
<%@products.each do |prod|%>

<%= link_to prod.title, prod %>
<br/>
<div class='Price'>Price: <%=prod.price%></div>
<div class='category'>Category: <%=prod.category.name%></div>
<br/>
<%end%>
</div>